---
import Layout from '../layouts/Layout.astro'
import Header from '../sections/Header.astro'
import Hero from '../sections/Hero.astro'
import Features from '../sections/Features.astro'
import Counts from '../sections/Counts.astro'
import Testimonials from '../sections/Testimonials.astro'
import Partners from '../sections/Partners.astro'
import JoinUs from '../sections/JoinUs.astro'
import SupportUs from '../sections/SupportUs.astro'
import Invest from '../sections/Invest.astro'
import News from '../sections/News.astro'
import Contact from '../sections/Contact.astro'
import Footer from '../sections/Footer.astro'
---

<Layout title="Welcome to Astro.">
  <Header />
  <Hero />
  <main id="main">
    <Features />
	<Counts />
	<Testimonials />
	<Partners />
	<JoinUs />
	<SupportUs />
	<Invest />
	<News />
	<Contact />
  </main>
  <Footer />
</Layout>