---
const { title, description, icon } = Astro.props
---
    <div class="col-lg-4 col-md-4 mt-4 mt-md-0">
    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50" style="border-radius: 20px;">
    <i class={icon} style="color: #db013a;"></i>
    <h3>{ title }</h3>
    <p>{ description }</p>
    </div>
