---
import Feature from "../components/Feature.astro";

---
<section id="features" class="features">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <p>Nuestro Equipo</p>
      </div>
      <div class="section-title" data-aos="fade-up">
        <h2>Áreas</h2>
      </div>
      
      <div class="row align-items-center text-center" data-aos="fade-left">
        <Feature title="Diseño y publicidad" 
        description="Se encarga de la creación de conceptos visuales atractivos y estrategias de marketing efectivas para la identidad del proyecto." 
        icon="fa-solid bi bi-megaphone-fill">
        </Feature>
        <Feature 
        title="Gestión y logística" 
        description="Asegura la operatividad del proyecto gestionando aspectos como la cadena de suministro, el cronograma de actividades y la asignación de responsabilidades."
        icon="fa-solid bi bi-gear-fill">

        </Feature>
        <Feature title="STEM" 
        description="Fomenta la investigación y aplicación de conocimientos en ciencia, tecnología, ingeniería y matemáticas para el proyecto promoviendo la innovación."
        icon="fa-solid fa-atom">

        </Feature>
      </div>
    </div>
  </section>
  