---
---
<footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="d-flex justify-content-center">
          <h3>About Chasqui II</h3>
        </div>

      </div>
      <div class="row">
        <div class="d-flex justify-content-center">

          <p class="social">
            <a href="https://web.facebook.com/CHASQUI2UNI?_rdc=1&_rdr" target="_blank"><span class="bi bi-facebook"></span></a>
            <a href="https://www.instagram.com/chasqui.ll.peru/" target="_blank"><span class="bi bi-instagram"></span></a>
            <a href="https://www.linkedin.com/company/chasqui-2/" target="_blank"><span class="bi bi-linkedin"></span></a>
          </p>
        </div>

      </div>

      <div class="row justify-content-center text-center">
        <div class="col-md-7">
          <p class="copyright">&copy; Copyright Chasqui II. </p>
        </div>
      </div>

    </div>
  </footer>