---
---
<section id="invierte" class="invierte">
    <div class="container" data-aos="fade-up">
      <div class="section-title update">
        <p>INVIERTE</p>
      </div>
      <div class="row">
        <div class="col-lg-12 update">
          <p>Chasqui II busca patrocinadores que deseen apoyar nuestro crecimiento y desarrollo. Ofrecemos la oportunidad de asociar tu marca con nuestra comunidad siempre y cuando se cumplan ciertos requisitos:</p>
          <ul>
            <li style="color: #fff">Contenido respetuoso y apropiado</li>
            <li style="color: #fff">Independencia de grupos políticos</li>
            <li style="color: #fff">No pertenecer a entidades religiosas o sociales controvertidas</li>
          </ul>
          <p>Si estás interesado en patrocinar a Chasqui II y deseas obtener más información, por favor contacta directamente con el Director General.</p>
        </div>
      </div>
    </div>
  </section>
  