---
---
<section id="partners" class="partners">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <p>Alianzas</p>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-5 text-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="partner">
            <img src="/assets/img/partners/ctic-logo.jpg" alt="CTIC UNI - Laboratorio" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-3 col-md-5 text-center" data-aos="zoom-in" data-aos-delay="200">
          <div class="partner">
            <img src="/assets/img/partners/aess-logo.png" alt="IEEE AESS UNI" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-3 col-md-5 text-center" data-aos="zoom-in" data-aos-delay="300">
          <div class="partner">
            <img src="/assets/img/partners/ACECOM.png" alt="ACCECOM" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-3 col-md-5 text-center" data-aos="zoom-in" data-aos-delay="400">
          <div class="partner">
            <img src="/assets/img/partners/01%20GRAVIIT%20Space%20-%20Logo%20Negro.png" alt="GRAVIT SPACE" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  