---
import Merch from '../components/Merch.astro'
---
<section id="ayudanos" class="ayudanos">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <p>AYÚDANOS</p>
      </div>
      <div class="row">
        <p>Tu apoyo es fundamental para el éxito de Chasqui II. Puedes contribuir a nuestro proyecto a través de las siguientes opciones de donación:</p>
        <ul>
          <li><strong>Yape:</strong> 9XX XXX XXX</li>
          <li><strong>Plin:</strong> 9XX XXX XXX</li>
          <li><strong>Banco:</strong> XXXX XXXX XXXX XXXX</li>
        </ul>
        <p>Si deseas gestionar tu donación directamente, por favor contáctanos para más información.</p>
        <p>Celular: +51 940 186 040</p>
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h3 style="padding-bottom: 20px">Merch</h3>
          </div>
          <div class="row">
            <Merch title="Tazas" price="12.00" img="15"/>
            <Merch title="Llaveros" price="5.00" img="31"/>
            <Merch title="Polos" price="50.00" img="22"/>
          </div>
        </div>
        <div class="section-title" data-aos="fade-up">
          <h3 style="padding-top: 60px">Cursos</h3>
        </div>
        <p>¡Próximamente ofreceremos cursos en diversas áreas! Mantente atento para más detalles y fechas de inscripción.</p>
      </div>
    </div>
  </section>
  